.card {
  background-color: transparent;
  border: none;
  margin: 35px auto;
}
.card > img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.card > p {
  color: hsl(233, 8%, 62%);
}

@media (min-width: 768px) {
  .card {
    width: fit-content;
    padding: 0 5px;
  }
  .card > P {
    width: 260px;
  }
}
