.btn {
  display: none;
  border-radius: 35px;
  border: none;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

.btn:hover {
  transition: background 5s linear;
  background: linear-gradient(to right, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
}
@media (min-width: 992px) {
  .btn {
    display: block;
  }
}
