* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(85, 44, 44);
  font-family: "Public Sans", sans-serif;
  outline: none;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}
